.player {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  cursor: pointer;
}

.player iframe {
  border-radius: 10px;
  width: 90%;
  height: 90%;
}

.player-info {
  display: flex;
  justify-content: s;
  bottom: -40px;
  left: 20px;
  color: white;
  font-size: 16px;
}

.player-info p {
  margin: 5px 0;
}
